.cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
    margin-bottom: 24px;
}

.cont.isMy {
    justify-content: flex-end;
}

.messageCloud {
    border-radius: 5px 13px 13px 13px;
    background: white;
    box-shadow: 0 0 5px #dcdcdc;
    font-size: 14px;
    padding: 14px 15px;
}

.messageCloud.myCloud {
    background: rgb(114,76,233);
    background: linear-gradient(153deg, rgba(114,76,233,1) 48%, rgba(64,82,238,1) 100%);
    border-radius: 13px 13px 13px 13px;
    color: white;
}

.sendInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    gap: 15px;
}

.senderUsername {
    font-weight: 700;
    font-size: 16px;
    color: #444444;
}

.senderUsername.mySenderUsername {
    order: 1;
}

.sendDate {
    font-size: 14px;
    color: #a8a8a8;
}

.sendDate.mySendDate {
    order: 0;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
}

.message.myMessage {
    align-items: flex-end;
}