.content {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.content.active  {
    background: #3390ec;
}

.content.active .name, .title, .subTitle, .messageAuthor {
    color: #fff;
}

.avatarCont {
    width: 60px;
}

.avatar {
    width: 54px !important;
    height: 54px !important;
}

.infoCont {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    color: #707579;
    flex: 1 1 auto;
    padding: 1px 7px 1px 9px;
}

.title {
    display: flex;
    justify-content: space-between;
}

.subTitle {
    display: flex;
    justify-content: space-between;
    padding-right: 17px;
    padding-top: 2px;
}

.name {
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.time {
    font-size: 12px;
    line-height: 2;
}

.messageText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
}

.messageAuthor {
    color: #000;
}
